<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main class="main-content columns is-fullheight">
    <%- include('../partials/sidebar'); %>
    <div class="container column is-10">
      <section class="section">
        <div class="hero is-success">
          <div class="hero-body">
            <p class="title">
              Youtube Alarm Clock
            </p>
            <p class="subtitle">
              Save MP3 Audio from YT to a cloud space - currently hosted on Google Cloud Platform
            </p>
          </div>
        </div>
        <br />
        <div class="field is-grouped">
          <p class="control is-expanded">
            <input class="input" type="text" placeholder="Search your favorite music">
          </p>
          <p class="control">
            <a class="button is-info" onclick="printBlah()">
              Save Video to Cloud
            </a>
          </p>
        </div>
      </section>
      <section class="section">
        <h1 class="title">Library</h1>
        <h2 class="subtitle">Collection of Saved MP3 Files</h2>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Uploader</th>
              <th><i class="fa fa-calendar"></i></th>
              <th><i class="fas fa-clock"></i></th>
              <th><i class="fas fa-link"></i></th>
              <th><i class="fas fa-trash-alt"></i></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Uploader</th>
              <th><i class="fa fa-calendar"></i></th>
              <th><i class="fas fa-clock"></i></th>
              <th><i class="fas fa-link"></i></th>
              <th><i class="fas fa-trash-alt"></i></th>
            </tr>
          </tfoot>
          <tbody>
            <% videosList.forEach((video, idx)=> { %>
              <tr>
                <td>
                  <%= idx %>
                </td>
                <td>
                  <%= video.title %>
                </td>
                <td>
                  <%= video.uploader %>
                </td>
                <td>
                  <%= video.dateString %>
                </td>
                <td>
                  <%= video.duration %> seconds
                </td>
                <td>
                  <a target="_blank" rel="noopener noreferrer" href="<%= video.link %>">
                    <%= video.link %>
                  </a>
                </td>
                <td>
                  <button class="button is-danger" onclick="deleteVideo(<% video.link %>)"><i
                      class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </section>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>