<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <main class="main-content columns is-fullheight">
    <%- include('../partials/sidebar'); %>
    <div class="container column is-10">
      <section class="section">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Uploader</th>
              <th><i class="fa fa-calendar"></i></th>
              <th><i class="fas fa-clock"></i></th>
              <th><i class="fas fa-link"></i></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Uploader</th>
              <th><i class="fa fa-calendar"></i></th>
              <th><i class="fas fa-clock"></i></th>
              <th><i class="fas fa-link"></i></th>
            </tr>
          </tfoot>
          <tbody>
            <% videosList.forEach((video, idx) => { %>
              <tr>
                <td><%= idx %></td>
                <td><%= video.title %></td>
                <td><%= video.uploader %></td>
                <td><%= video.dateString %></td>
                <td><%= video.duration %> seconds</td>
                <td><%= video.link %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </section>
    </div>
  </main>
  <%- include('../partials/footer'); %>
</body>

</html>